/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
    background-color: #04AA6D;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}

html{
    background-color: #c2e6f6;
    text-align:center;
    margin: 50px;

}
h1 {
    font-size: 32px;
    font-family: Arial;
    color: rgb(7, 78, 7);
    margin: 10px;
}
body {
    font: normal 16px Helvetica, Verdana;
    color: #333;
    margin: 10px;
}

#directions{
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
}

#submitbutton{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
}
input [type=text] {
    border-radius: 4px;
    border-color:aliceblue;
    padding: 10px;
    width:100%;
}
.column {

    float: left;
    width: 33%;
    margin-top: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
